<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../src/public/css/style.css">
  <title>Document</title>
</head>
<body>
     <div class="row-md-4 d-flex align-items-center justify-content-center">
                 <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/login">Login</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link text-white" href="/register">Registrarse</a>
                     </li>
                      <li class="nav-item">
                        <a class="nav-link text-white" href="/realtimeProducts">Formulario</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link text-white" href="/chat">Chat</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link text-white" href="/products">Terapias</a>
                     </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/profile">Tu perfil</a>
                     </li>
                     <li>
                        <button id="cartButton">🛒</button>
                     </li>
                 </ul>
            </div>
<div class="container">
   <h2 class="color1">GRACIAS POR TU COMPRA! REVISA TU CORREO ELECTRONICO TAMBIEN RECIBIRAS UN MAIL CON ESTE RESUMEN</h2>
    <div class="alert alert-dark m-2" role="alert">
         <strong>Codigo del Ticket: {{ticket._id}}</strong>
         <br>
         Fecha: {{ticket.purchase_datetime}}
         <br>
         Monto: <code>{{ticket.amount}}</code> 
         <br>
         Codigo: {{ticket.code}}
         <br>
         Comprador: {{ticket.purchaser}}
         <br>
    </div>
    </div>
</div>

</body>

</html>